body {
    color: #fff;
    background-color: orangered;
    background-image: url(../img/dnd2.jpg);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position-y: top;
}

.container {
    width: 30%;
    min-width: 350px;
    height: 100vh;
    text-align: center;
    margin: 30px auto;
}

input {
    padding: .6em;
    border: none;
    border-radius: 5px;
}

button {
    padding: .5em 1.5em;
    font-weight: bold;
}

p {
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, .75);
    line-height: 1.5em;
}

ul {
    list-style: none;
}

#footer {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    border: 3px solid white;
    max-height: 250px;
}

#close {
    position: absolute;
    top: -20px;
    right: -20px;
    transition: all .3s ease;
}

#close:hover {
    color: red;
    cursor: pointer;
}
