body {
    color: #fff;
    background-color: orangered;
    background-image: url(../img/dnd2.jpg);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position-y: top;
}

.container {
    width: 30%;
    min-width: 350px;
    height: 100vh;
    text-align: center;
    margin: 60px auto;
}

input {
    padding: .6em;
}

button {
    padding: .5em 1.5em;
    font-weight: bold;
}

p {
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, .75);
    line-height: 1.5em;
}

ul {
    list-style: none;
}